body,
html {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #555;
  width: 100% !important;
  height: 100% !important;
}

/*Scroll snap*/
.container {
  scroll-snap-type: y mandatory;
}
/*End Scroll snap*/

h1 {
  font-weight: 700;
}
h1 strong {
  font-weight: 900;
}
h2 {
  text-transform: uppercase;
  line-height: 20px;
  margin: 0;
  color: whitesmoke;
}
h3 {
  font-size: 16px;
  font-weight: 700;
  color: whitesmoke;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 1.4rem;
}
a {
  color: #64c2c8;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #a39667;
}
ul,
ol {
  list-style: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ddd;
  z-index: 99999;
  height: 100%;
}
#status {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  height: 64px;
  margin: -32px 0 0 -32px;
  padding: 0;
}
ul,
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}
/* Navigation */
.navbar-custom {
  padding: 0;
  border-bottom: 0;
  letter-spacing: 1px;
  background: rgba(55, 168, 171, 0.7);
  text-transform: uppercase;
}
.navbar-custom .navbar-brand {
  font-weight: 600;
}
.navbar-custom .navbar-brand i.fa {
  color: #a39667;
}
.navbar-custom .navbar-brand:focus {
  outline: 0;
}
.navbar-custom .navbar-toggle {
  color: #eee;
  font-size: 18px;
  border-radius: 2px;
  padding: 0 4px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #a39667;
  color: #64c2c8;
}
.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0;
}
.navbar-custom a {
  color: #fff;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  outline: 0;
  color: #a39667;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent;
  color: #a39667;
}
.navbar-custom .nav li.active {
  outline: 0;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
  color: #fff;
}

/*Flex Container invitados*/

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #64c2c8;
  justify-content: center;
  align-content: space-around;
}
.flex-container > div {
  /*background-color: #f1f1f1;*/
  padding: 10px;
  margin: 10px;
}
.flex-container > div > img {
  max-width: 450px;
  max-height: 450px;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .navigation {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .navigation {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

/* Home Section */
#intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url(../img/2021/wallpaper2021.png) no-repeat top center local;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
#intro .intro-body H1 {
  font-size: 8em;
  font-weight: 700;
  letter-spacing: -2px;
  color: rgba(255, 255, 255, 0.7);
}
#intro .intro-body .brand-heading {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 30px 0 60px 0;
}
#intro .intro-body .intro-text {
  font-size: 18px;
}

@media (min-width: 768px) {
  #intro {
    height: 100%;
    padding: 0;
  }
  #intro .intro-body .intro-text {
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 100px;
    color: rgba(255, 255, 255, 0.9);
  }
}
.btn-default {
  color: #ccc;
  background: #64c2c8;
  border: 0;
  padding: 12px 24px;
  margin: 0 8px;
  font-size: 18px;
  transition: all 0.5s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
  color: #a39667;
  background-color: #64c2c8;
}
.section-title.center {
  padding: 30px 0;
}
.section-title h2,
.section-title.center h2 {
  font-weight: 600;
  margin-bottom: 30px;
}
.section-title.center hr {
  height: 4px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #b29999;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 0;
}
.section-title.center hr:after {
  content: "";
  height: 4px;
  width: 50px;
  display: inline-block;
  border-radius: 2px;
  position: relative;
  top: 2px;
  background: rgba(178, 153, 153, 0.4);
}
/* About Section */
#about {
  padding: 100px 0;
  color: #444;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f6f6+50,cccccc+100 */
  background: rgb(246, 246, 246); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(246, 246, 246, 1) 50%,
    rgba(204, 204, 204, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(246, 246, 246, 1) 50%,
    rgba(204, 204, 204, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(246, 246, 246, 1) 50%,
    rgba(204, 204, 204, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#cccccc', GradientType=0 ); /* IE6-9 */
}
#about .about-text {
  margin-left: 10px;
  margin-top: 10px;
}
#about H4 {
  font-size: 20px;
  font-weight: 600;
}
#about li {
  margin-bottom: 3px;
  list-style: none;
  padding: 0;
  font-size: 13px;
}
#about li:before {
  content: "✓";
  font-weight: 600;
  padding-right: 10px;
  color: #64c2c8;
}
#about i.fa {
  float: left;
  display: block;
  margin-right: 15px;
  color: #fff;
  font-size: 44px;
  text-shadow: 0 0 1px #666;
}
#about img {
  margin: 0 auto;
}
#about p {
  margin-top: 20px;
  margin-bottom: 30px;
}
/* Services Section */
#services {
  padding: 200px 0;
  background: url(../img/2020/convocatoria2020.png);
  background-size: cover;
  background-attachment: fixed;
}
#services .service {
  background: rgba(255, 255, 255, 0.6);
  padding: 20px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
#services .service img {
  max-width: 250px;
  max-length: 150px;
}
#services H3 {
  font-size: 20px;
  font-weight: 600;
  color: #555;
  transition: all 0.5s;
}
.space {
  margin-top: 40px;
}
#services i.fa {
  font-size: 22px;
  color: #a39667;
  transition: all 0.5s;
}
#services .service:hover {
  background: rgba(255, 255, 255, 0.8);
}
#services .service:hover > i.fa,
#services .service:hover > H3 {
  color: #64c2c8;
}
/* Gallery Section */
#works {
  padding: 100px 0;
  background: #f6f6f6;
}
.categories {
  padding-bottom: 30px;
  text-align: center;
}
ul.cat li {
  display: inline-block;
}
ol.type li {
  display: inline-block;
  margin-left: 20px;
}
ol.type li a {
  color: #555;
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
ol.type li a.active {
  padding-bottom: 5px;
  border-bottom: 4px solid #a39667;
}
ol.type li a:hover {
  padding-bottom: 5px;
  border-bottom: 4px solid #a39667;
}
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope-item {
  margin-right: -1px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.isotope {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}
.portfolio-item {
  margin-bottom: 30px;
}
.portfolio-item .hover-bg {
  max-height: 190px;
  overflow: hidden;
  position: relative;
}
.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.66);
  padding: 25% 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.hover-bg .hover-text > h4 {
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
}
.hover-bg:hover .hover-text > h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.hover-bg .hover-text > p {
  opacity: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
}
.hover-bg:hover .hover-text > p {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.hover-bg .hover-text > i {
  opacity: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: all 0.3s;
}
.hover-bg:hover .hover-text > i {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.hover-bg:hover .hover-text {
  opacity: 1;
}
#works i.fa {
  font-size: 20px;
  padding: 5px;
  color: #a39667;
}

/*SEDES*/
#sedes {
  display: table;
  width: 100%;
  height: 700px;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: #000 url(../img/sedes2019.jpg) no-repeat fixed bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/*Invitados*/
#invitados {
  display: table;
  width: 100%;
  height: 700px;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url(../img/2020/fondogen.jpg) no-repeat bottom center fixed;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* Team Section */
#team {
  padding: 100px 0;
  background: #e6e6e6;
}
img.img-thumbnail.team-img {
  width: 200px;
  height: 200px;
  border: 0;
  border-radius: 0;
  background-color: #f6f6f6;
  transition: all 0.5s;
}
#team .thumbnail {
  background: transparent;
  border: 0;
}
#team .thumbnail .caption {
  padding: 9px;
  color: #5a5a5a;
}
/* Testimonials Section
#testimonials {
	background: url(../img/voluntario1.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: #ddd;
	padding: 300px 0;
}
#testimonials blockquote {
	position: relative;
	background: rgba(0,0,0,0.1);
	min-height: 150px;
	margin-top: 20px;
	margin-bottom: 100px;
	border: 1px solid rgba(255,255,255,0.1);
	text-align: center;
	color: rgba(255,255,255,0.8);
	border-radius: 4px;
}
#testimonials i {
	font-size: 14px;
	color: #A39667;
	margin-bottom: 14px;
}
#testimonials blockquote:after {
	content: '';
	position: absolute;
	bottom: -14px;
	left: 50%;
	margin-left: -14px;
	border-top: 14px solid rgba(255,255,255,0.1);
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
}
#testimonials blockquote img {
	height: 70px;
	width: 70px;
	position: absolute;
	bottom: -95px;
	left: 50%;
	margin-left: -34px;
}
#testimonials .clients-name {
	position: absolute;
	bottom: 10px;
	right: 10px;
}*/

/* Contact Section */
#contact {
  padding: 50px 0 40px 0;
  background: #c34099;
}
#contact .contact-item {
  padding: 10px;
  margin: 10px;
  height: 100px;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 4px;
}
#contact h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 40px;
}
#contact form {
  padding: 30px 0;
}
#contact i.fa {
  font-size: 22px;
  color: #a39667;
  margin-bottom: 10px;
}
#contact .text-danger {
  color: #ff3333;
  text-align: left;
}
label {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  float: left;
}
#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
#contact .form-control:focus {
  border-color: inherit;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}
#contact .btn-default {
  background: #64c2c8;
  border: 0;
  border-radius: 4px;
  padding: 6px 14px;
  color: #ccc;
  margin-top: 15px;
  font-size: 15px;
}
#contact .btn-default:hover,
#contact .btn-default:focus {
  color: #a39667;
  background: #64c2c8;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: 0;
}
#contact .social ul {
  margin-top: 30px;
}
#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}
#contact .social i.fa {
  font-size: 20px;
  width: 36px;
  height: 36px;
  padding-top: 8px;
  color: #e3b2b8;
  background: #f6f6f6;
  border-radius: 4px;
  transition: all 0.3s;
}
#contact .social i.fa:hover {
  color: #c34099;
  background: #e3b2b8;
}
/* Footer Section*/
#footer {
  background: #e3b2b8;
  color: #555;
  padding: 10px 0;
  text-align: center;
}
#footer a {
  color: #c34099;
}
#footer a:hover,
a:focus {
  color: #a39667;
}
#footer p {
  font-size: 15px;
  margin-top: 7px;
}
#footer i.fa {
  height: 20px;
  width: 30px;
  font-size: 20px;
  padding: 4px 5px;
  color: #ddd;
  transition: all 0.5s;
}
#footer i.fa:hover {
  color: #a39667;
}

@media (max-width: 768px) {
  .hover-bg .hover-text {
    padding: 20%;
  }
}

@media (max-width: 640px) {
  #intro .intro-body H1 {
    font-size: 5em;
  }
}
.buttonIni {
  background-color: #c34099;
  border-radius: 6px;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.buttonIni:hover {
  background-color: rgb(255, 0, 149);
}

/*Logo 211Studios*/
/*#211studios{
	max-height: 10px;
	max-width: 10px;

}*/

/*-------------------------------------------------------------------------*/
/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 90%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
